.todo {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 75%;
  justify-content: space-between;
}

.todo-content {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  margin-bottom: 5px;
}

.dates {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: small;
}

.checkmark {
  cursor: pointer;
}

.checkmark:hover {
  color: rgb(36, 235, 10)
}

.delete-icon {
  cursor: pointer;
}

.delete-icon:hover {
  color: rgb(243, 46, 46)
}

.restore-icon {
  cursor: pointer;
}

.restore-icon:hover {
  color: rgb(117, 177, 241)
}

.warning {
  color: red
}